# Data Cleaning

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [6]:
data = pd.read_csv("C:/Users/FGGCM/Desktop/Aivilo/Data Science Playground/Datasets/dirty_cafe_sales.csv")

data

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [7]:
data.shape

(10000, 8)

In [8]:
data.size

80000

In [9]:
data.duplicated().sum()

0

In [10]:
data.isna().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [14]:
data["Transaction Date"].value_counts()

Transaction Date
UNKNOWN       159
ERROR         142
2023-06-16     40
2023-02-06     40
2023-07-21     39
             ...
2023-04-27     15
2023-09-24     15
2023-07-22     14
2023-03-11     14
2023-02-17     14
Name: count, Length: 367, dtype: int64

In [15]:
data["Transaction Date"] = data["Transaction Date"].replace(["UNKNOWN", "ERROR"], pd.NA) #this replaces UNKNOWN and ERROR with null values

In [16]:
data.isna().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [17]:
data = data.dropna(subset=["Transaction Date"])

In [18]:
data.isna().sum()

Transaction ID         0
Item                 315
Quantity             135
Price Per Unit       165
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [20]:
data["Transaction Date"] = pd.to_datetime(data["Transaction Date"])

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9225 non-null   object
 2   Quantity          9405 non-null   object
 3   Price Per Unit    9375 non-null   object
 4   Total Spent       9383 non-null   object
 5   Payment Method    7101 non-null   object
 6   Location          6422 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 670.8+ KB

In [22]:
data["Item"].value_counts()

Item
Juice       1124
Coffee      1123
Salad       1099
Cake        1082
Sandwich    1075
Smoothie    1048
Cookie      1035
Tea         1027
UNKNOWN      329
ERROR        283
Name: count, dtype: int64

In [23]:
data["Item"] = data["Item"].replace({"ERROR": "UNKNOWN"})

In [24]:
data["Item"].value_counts()

Item
Juice       1124
Coffee      1123
Salad       1099
Cake        1082
Sandwich    1075
Smoothie    1048
Cookie      1035
Tea         1027
UNKNOWN      612
Name: count, dtype: int64

In [25]:
data["Item"] = data["Item"].fillna("UNKNOWN")

In [26]:
data.isna().sum()

Transaction ID         0
Item                   0
Quantity             135
Price Per Unit       165
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [27]:
data["Quantity"].value_counts()

Quantity
5          1914
2          1892
4          1774
3          1766
1          1740
UNKNOWN     160
ERROR       159
Name: count, dtype: int64

In [28]:
data["Quantity"] = data["Quantity"].replace({"ERROR": "UNKNOWN"})

In [29]:
data["Quantity"] = data["Quantity"].fillna("UNKNOWN")

In [30]:
data.isna().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit       165
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [31]:
data["Price Per Unit"].value_counts()

Price Per Unit
3.0        2319
4.0        2219
2.0        1185
5.0        1150
1.0        1088
1.5        1073
ERROR       186
UNKNOWN     155
Name: count, dtype: int64

In [32]:
data["Price Per Unit"] = data["Price Per Unit"].replace({"ERROR": "UNKNOWN"})

In [33]:
data["Price Per Unit"] = data["Price Per Unit"].fillna("UNKNOWN")

In [34]:
data.isna().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent          157
Payment Method      2439
Location            3118
Transaction Date       0
dtype: int64

In [35]:
data["Total Spent"].value_counts()

Total Spent
6.0        932
12.0       895
3.0        889
4.0        881
20.0       710
15.0       682
8.0        648
10.0       504
2.0        477
9.0        460
5.0        451
16.0       427
25.0       250
7.5        227
4.5        217
1.0        215
1.5        199
UNKNOWN    160
ERROR      159
Name: count, dtype: int64

In [36]:
data["Total Spent "] = data["Total Spent"].replace({"ERROR": "UNKNOWN"})

In [37]:
data["Total Spent"] = data["Total Spent"].fillna("UNKNOWN")

In [38]:
data.isna().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2439
Location            3118
Transaction Date       0
Total Spent          157
dtype: int64

In [40]:
data["Location"].value_counts()

Location
Takeaway    2889
In-store    2872
ERROR        341
UNKNOWN      320
Name: count, dtype: int64

In [41]:
data["Payment Method"].value_counts()

Payment Method
Digital Wallet    2197
Credit Card       2170
Cash              2158
ERROR              296
UNKNOWN            280
Name: count, dtype: int64

In [45]:
data["Location"] = data["Location"].replace({"ERROR": "UNKNOWN"})

In [46]:
data["Location"] = data["Location"].fillna("UNKNOWN")

In [47]:
data.isna().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method         0
Location               0
Transaction Date       0
Total Spent          157
Payment Method      2439
dtype: int64

In [48]:
data["Payment Method "] = data["Payment Method"].replace({"ERROR": "UNKNOWN"})

In [49]:
data["Payment Method"] = data["Payment Method"].fillna("UNKNOWN")

In [50]:
data.isna().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date      0
Total Spent         157
Payment Method        0
dtype: int64

In [51]:
data["Total Spent "] = data["Total Spent"].replace({"ERROR": "UNKNOWN"})

In [52]:
data["Total Spent"] = data["Total Spent"].fillna("UNKNOWN")

In [53]:
data.isna().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Total Spent         0
Payment Method      0
dtype: int64

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9540 non-null   object
 3   Price Per Unit    9540 non-null   object
 4   Total Spent       9540 non-null   object
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
 8   Total Spent       9540 non-null   object
 9   Payment Method    9540 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 819.8+ KB

In [55]:
data["Quantity"] = pd.to_numeric(data["Quantity"], errors="coerce")
data["Price Per Unit"] = pd.to_numeric(data["Price Per Unit"], errors="coerce")
data["Total Spent"] = pd.to_numeric(data["Total Spent"], errors="coerce")

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9086 non-null   float64
 3   Price Per Unit    9034 non-null   float64
 4   Total Spent       9064 non-null   float64
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
 8   Total Spent       9540 non-null   object
 9   Payment Method    9540 non-null   object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 819.8+ KB

In [57]:
data.head

<bound method NDFrame.head of      Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0       TXN_1961373    Coffee       2.0             2.0          4.0
1       TXN_4977031      Cake       4.0             3.0         12.0
2       TXN_4271903    Cookie       4.0             1.0          NaN
3       TXN_7034554     Salad       2.0             5.0         10.0
4       TXN_3160411    Coffee       2.0             2.0          4.0
...             ...       ...       ...             ...          ...
9995    TXN_7672686    Coffee       2.0             2.0          4.0
9996    TXN_9659401   UNKNOWN       3.0             NaN          3.0
9997    TXN_5255387    Coffee       4.0             2.0          8.0
9998    TXN_7695629    Cookie       3.0             NaN          3.0
9999    TXN_6170729  Sandwich       3.0             4.0         12.0

      Payment Method  Location Transaction Date Total Spent  Payment Method
0        Credit Card  Takeaway       2023-09-08          4.0     Credit Card
1               Cash  In-store       2023-05-16         12.0            Cash
2        Credit Card  In-store       2023-07-19      UNKNOWN     Credit Card
3            UNKNOWN   UNKNOWN       2023-04-27         10.0         UNKNOWN
4     Digital Wallet  In-store       2023-06-11          4.0  Digital Wallet
...              ...       ...              ...          ...             ...
9995         UNKNOWN   UNKNOWN       2023-08-30          4.0         UNKNOWN
9996  Digital Wallet   UNKNOWN       2023-06-02          3.0  Digital Wallet
9997  Digital Wallet   UNKNOWN       2023-03-02          8.0  Digital Wallet
9998  Digital Wallet   UNKNOWN       2023-12-02          3.0  Digital Wallet
9999            Cash  In-store       2023-11-07         12.0            Cash

[9540 rows x 10 columns]>

In [58]:
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Total Spent,Payment Method
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0,Credit Card
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16,12.0,Cash
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19,UNKNOWN,Credit Card
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0,UNKNOWN
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0,Digital Wallet

In [59]:
data["Total Spent"] = data["Quantity"] * data["Price Per Unit"]

In [60]:
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Total Spent,Payment Method
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0,Credit Card
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16,12.0,Cash
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19,UNKNOWN,Credit Card
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0,UNKNOWN
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0,Digital Wallet

In [61]:
data.isna().sum()

Transaction ID        0
Item                  0
Quantity            454
Price Per Unit      506
Total Spent         944
Payment Method        0
Location              0
Transaction Date      0
Total Spent           0
Payment Method        0
dtype: int64

In [63]:
data["Quantity"] = data["Quantity"].replace({"UNKNOWN":0})
data["Price Per Unit"] = data["Price Per Unit"].replace({"UNKNOWN":0})
data["Total Spent"] = data["Total Spent"].replace({"UNKNOWN":0})

In [64]:
data.isna().sum()

Transaction ID        0
Item                  0
Quantity            454
Price Per Unit      506
Total Spent         944
Payment Method        0
Location              0
Transaction Date      0
Total Spent           0
Payment Method        0
dtype: int64

In [65]:
data["Quantity"].value_counts()

Quantity
5.0    1914
2.0    1892
4.0    1774
3.0    1766
1.0    1740
Name: count, dtype: int64

In [66]:
data["Quantity"] = data["Quantity"].fillna(data["Quantity"].mean())

In [67]:
data.isna().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit      506
Total Spent         944
Payment Method        0
Location              0
Transaction Date      0
Total Spent           0
Payment Method        0
dtype: int64

In [68]:
data["Price Per Unit"] = data["Price Per Unit"].fillna(data["Price Per Unit"].mean())

In [69]:
data.isna().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent         944
Payment Method        0
Location              0
Transaction Date      0
Total Spent           0
Payment Method        0
dtype: int64

In [70]:
data["Total Spent"] = data["Total Spent"].fillna(data["Total Spent"].mean())

In [71]:
data.isna().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Total Spent         0
Payment Method      0
dtype: int64

In [72]:
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Total Spent,Payment Method
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0,Credit Card
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16,12.0,Cash
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19,UNKNOWN,Credit Card
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0,UNKNOWN
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0,Digital Wallet

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9540 non-null   float64
 3   Price Per Unit    9540 non-null   float64
 4   Total Spent       9540 non-null   float64
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
 8   Total Spent       9540 non-null   object
 9   Payment Method    9540 non-null   object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 819.8+ KB

In [77]:
data.duplicated().sum()

0

In [80]:
data.to_csv("Almost_clean.csv", index=False)