<a href="https://colab.research.google.com/github/Aiviloxii/Playground2/blob/main/W2_Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# learning operators in python.
a = 6
b = 4
c = 2

In [ ]:
print(a ** c) # exponential operator: raises the first variable to the second.

36

In [ ]:
print(b /c) # normal division

2.0

In [ ]:
print(a/b) #
print(a//b)# floor division: gives a integer output.

1.5
1

In [ ]:
print (a + b)

10

In [ ]:
print(c - a)

-4

In [ ]:
#comparison operators
print(a == b) # equal to: gives T if equal and F if not.

False

In [ ]:
print(a !=b) #not equal to: opposite of the above.

True

In [ ]:
print(b > c) # greater than

True

In [ ]:
print (a < c) # less than

False

In [ ]:
#increment and decrement operators
a += 2
print(a)

14

In [ ]:
b *= 2
print(b)

32

In [ ]:
b -= 1
print(b)

27

PYTHON DATA TYPES

In [ ]:
x = 10
type(x)

int

In [ ]:
w = 4.6
type(w)

float

In [ ]:
text = "Hello There! "
type(text)

str

In [ ]:
text2 = 'Hi There!'
type(text2)

str

In [ ]:
name = """ I love python
I am in the Data Science track
Psst! This is also a string! ðŸ˜"""
print(name)

 I love python
I am in the Data Science track
Psst! This is also a string! ðŸ˜

In [ ]:
True + False
type(True)

bool

In [ ]:
a = x and a >= c
type(a)

bool

Type Casting: converting data types.

In [ ]:
m = float(b)
print(m)

27.0

In [ ]:
g = int(m)
print(g)

27

In [ ]:
v = str(c)
print(v)

2

In [ ]:
type(v)

str

#String Methods

In [ ]:
name = "jamila "
up = name.upper()
print(up)

JAMILA

In [ ]:
down = up.lower()
print(down)

jamila

In [ ]:
age = 20

In [ ]:
print(f"My name is {up} and I am {20} years old")

My name is JAMILA  and I am 20 years old